/*Profile Page*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b4f71;
}

header {
    padding: 20px;
    text-align: center;
    
}
#Nav_Bar{
    width: 100%;
    background-color: rgb(37, 37, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    

}
#Nav_Bar_List{
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0%;
    padding: 0%;

}
.Nav_Bar_List_Item a{
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    transition: 2s;

}
.Nav_Bar_List_Item a:hover{
    text-decoration: underline;
}
#mail{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: #ffffff;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}
#call{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: #ffffff;
    width: fit-content;
    margin: auto;
    margin-top: 10px;

}