#Nav_Bar{
    width: 100%;
    background-color: rgb(37, 37, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    

}
#Nav_Bar_List{
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0%;
    padding: 0%;

}
.Nav_Bar_List_Item a{
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    transition: 2s;

}
.Nav_Bar_List_Item a:hover{
    text-decoration: underline;
}
#heading{
    text-align: center;

}
#menu{
    text-align: center;
    font-size: x-large;
}
.menu_item{
    list-style: none;
    display: inline-block;
    padding: 25px;
    background-color: rgb(255, 146, 12);
    color: black;
    margin-right: 10%;
    font-size: medium;
}
#menu_item_1.menu_item{
    background-color: aquamarine;
}
#menu_item_2.menu_item{
    background-color: goldenrod;
}
#menu_item_3.menu_item{
    background-color: cadetblue;
}
#specials{
    text-align: center;
}
#location{
    text-align: center;
}
footer{
    background-color: black;
    color: aliceblue;
}